body
{
    font-family: 'Times New Roman', Times, serif;
}
.banar-culom
{
    background-color: rgb(88, 181, 235);
    color: white;
    text-align: center;
    padding: 4px;
    max-width: 600px;

}
.rounded-circle
{
    width: 100%;
    padding: 2%;
    text-align: center;
}
.banarbio
{
    text-align: left;
    padding: 2%;
}
.navigation
{
    background-color: black;
    margin: auto;
}
.nav-link
{
    color: white;
}
.nav-link:hover
{
    background-color: blue;
    color: white;
}
.navigation
{
    position: sticky !important;
    z-index: 2;
}
.aboutleft
{
    background-color: tomato;
    padding: 1%;
    margin-top: 5px;
    text-align: justify;
}
.about
{
    padding: 1%;
}
#educationalh
{
    text-align: center;
    padding: 2%;
}
.educatinosection
{
    padding: 2%;
}
.bioinfodata
{
    border: 2px solid black;
}
.bioinfo
{
    padding: 2%;
}